* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input {
    outline: none;
}

@media screen and (min-width: 200px) {
    #hd-cabecalho {
        background-color: #171717 !important;
        padding: 5px;
        height: 75px;
        transition: all .4s;
        background: url(../imagens/bk_menu.png);
        background-size: 250px;
        background-attachment: fixed;
    }
    .nav-menu-topo {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        align-items: center;
        max-width: 1920px;
        margin: auto;
    }
    #checkbox-menu {
        display: none;
    }
    .lbl-btn-menu {
        padding: 15px 25px;
        background: url('../imagens/icones/menu/icon_menu.png') center center/ 40px no-repeat;
        display: none;
    }
    #link-home {
        margin-right: 4%;
    }
    #img-logo-menu {
        width: 80px;
        height: 50px;
    }
    #form-pesquisa-menu {
        width: 80%;
        position: relative;
    }
    #input-pesquisa {
        width: 100%;
        padding: 8px 10px;
        border-radius: 50px;
        border: 2px solid #C1AE17;
        color: #C1AE17;
        font-weight: 500;
    }
    #input-btn-pesquisa {
        position: absolute;
        top: 0px;
        right: 10px;
        background: url(../imagens/icones/menu/icon_pesquisa_menu.png) center center / 20px no-repeat;
        padding: 10px 15px;
        border: none;
    }
    .nav-menu-lateral-carrinho {
        display: flex;
        width: 120px;
        justify-content: right;
        display: none;
        margin-left: 3%;
    }
    .div-valor-carrinho-topo {
        display: flex;
        flex-flow: column;
        width: 70px;
        justify-content: center;
    }
    .div-valor-carrinho-topo label:nth-child(1) {
        color: #f4c803;
    }
    .div-valor-carrinho-topo label {
        color: white;
        font-size: 8pt;
        font: 9pt;
        font-weight: bold;
        text-align: center;
    }
    .valor-carrinho-topo {
        font-size: 11pt !important;
    }
    #checkbox-menu-carrinho {
        display: none;
    }
    .lbl-btn-carrinho-menu {
        padding: 15px 25px;
        background: url('../imagens/icones/menu/icon_carrinho_menu.png') center center/ 35px no-repeat;
        display: none;
    }
    .nav-menu-topo-categoria {
        opacity: 0;
        transition: all .4s;
        max-width: 1920px;
        margin: auto;
    }
    .lista-categoria-menu {
        display: none;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-flow: wrap;
    }
    .li-item-categoria-menu {
        margin: 0px 10px;
        list-style: none;
        padding: 9px;
        transition: all .4s;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .li-item-categoria-menu:hover {
        background-color: #272727;
    }
    .link-li-item-categoria {
        text-decoration: none;
        color: white;
        font-size: 10pt;
        display: flex;
        align-items: center;
    }
    .link-li-item-categoria img {
        width: 20px;
        margin: 0px 5px;
    }
    .mapa-carrinho {
        background: url('../imagens/bk-carrinho-footer.jpg') center center / cover no-repeat;
        height: 40vh;
        position: relative;
    }
    .info-carrinho {
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
    }
    .dados-carrinho {
        padding: 20px;
        background-color: white;
        width: 80%;
        max-width: 400px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }
    .dados-carrinho-campos {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        width: 70%;
    }
    .dados-carrinho-campos {
        width: 80%;
    }
    .p-protocolo {
        margin: 10px 0px;
    }
    .dados-cliente {
        display: none;
        flex-direction: column;
    }
    .pesquisa-cliente {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        /* display: none; */
    }
    .p-dados-cliente {
        font-weight: bold;
        font-size: 10pt;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 5px 0px;
    }
    .span-dados-cliente {
        color: #c59d19;
        font-weight: 500;
    }
    .btn-ediar-dados {
        font-size: 10pt;
        max-width: 170px;
        margin: auto;
    }
    .dados-carrinho img {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    .dados-carrinho-campos input,
    .dados-carrinho label {
        width: 100%;
        margin: 8px auto;
        padding: 10px;
        border-radius: 50px;
        border: none;
    }
    .dados-carrinho-campos input {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
    .dados-carrinho-campos label {
        text-align: center;
        color: white;
        background-color: #C59D19;
    }
    .produtos-carrinho {
        margin-top: 80px;
    }
    .tabela-produtos {
        width: 90%;
        margin: 50px auto;
        border-collapse: collapse;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        max-width: 570px;
    }
    .img-produto-tabela {
        width: 60px;
    }
    .tabela-produtos tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }
    .tabela-produtos th {
        padding: 5px;
        text-align: center;
        font-weight: 600;
        font-size: 10pt;
        padding: 10px;
        background-color: #f5f5f5;
    }
    .tabela-produtos th:nth-child(1) {
        text-align: left;
    }
    .tabela-produtos td {
        height: 100%;
    }
    .tabela-produtos td p {
        font-size: 10pt;
        margin: 5px 0px;
    }
    .coll-quantidade {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .coll-quantidade input {
        width: 50px;
        margin: 5px;
        border: none;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
    }
    .coll-quantidade label {
        color: #FF0000;
        font-size: 8pt;
        font-weight: bold;
        text-decoration: underline;
    }
    .coll-valor-unitario {
        text-align: center;
        font-size: 10pt;
    }
    .coll-total {
        font-weight: 600;
        font-size: 11pt;
        text-align: center;
    }
    .div-total-compra {
        width: 90%;
        background-color: white;
        margin: auto;
        border-radius: 5px;
        max-width: 570px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .info-total-compra {
        width: 100%;
        padding: 10px;
    }
    .info-total-compra-item-carrinho {
        display: flex;
        flex-direction: row;
        margin: 5px;
        padding: 5px;
    }
    .info-total-compra-item-carrinho p {
        width: 50%;
        font-size: 11pt;
        color: #171717;
    }
    .total-bold {
        text-align: right;
        font-weight: bold;
    }
    .info-valor-total-carrinho {
        border-top: 1px solid #d2d2d2;
    }
    .btn-finalizar-carrinho {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .btn-finalizar-carrinho label {
        width: 90%;
        text-align: center;
        padding: 15px;
        font-weight: 500;
        margin: 5px auto;
        border-radius: 5px;
        max-width: 570px;
    }
    .btn-finalizar-pedido {
        background-color: #c59d19;
        color: white;
    }
    .btn-cancelar-pedido {
        background-color: #f5f5f5;
        color: #888;
    }
    #checkbox-cadastro,
    #checkbox-finalizar {
        display: none;
    }
    #checkbox-cadastro:checked~.cadastro-cliente-carrinho {
        display: flex;
    }
    #checkbox-finalizar:checked~.formas-pagamento {
        display: flex;
    }
    .cadastro-cliente-carrinho {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .div-cadastro-cliente {
        width: 90%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 700px;
        overflow: auto;
        max-height: 95%;
    }
    .form-cadastro-cliente {
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }
    .form-cadastro-cliente label {
        width: 48%;
        margin: 5px 1%;
        font-size: 10pt;
    }
    .form-cadastro-cliente label input {
        padding: 10px 20px;
        width: 100%;
        border-radius: 10px;
        border: none;
        margin: 10px 0px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
    .btn-concluir-cadastro,
    .lbl-fechar-cadastro-carrinho {
        width: 90% !important;
        margin: 10px auto !important;
        text-align: center;
        padding: 15px;
        border: none;
    }
    .btn-concluir-cadastro {
        background-color: #c59d19;
        color: white;
        border-radius: 10px;
    }
    .formas-pagamento {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .formas {
        width: 90%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 700px;
        overflow: auto;
        max-height: 95%;
        font-size: 11pt;
        display: flex;
        flex-flow: column;
    }
    .formas h1 {
        font-size: 12pt;
        margin-bottom: 20px;
    }
    .pagamentos {
        padding: 10px 20px;
        display: flex;
        align-content: center;
        align-items: center;
        color: #888;
        font-weight: bold;
    }
    .pagamentos:nth-child(2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .pagamentos label {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .pagamentos img {
        width: 40px;
        margin-right: 20px;
    }
    .formas p {
        color: red;
        margin: 20px 00px;
    }
    .radio-formas {
        margin-right: 10px;
        color: forestgreen;
    }
    .dinheiro-troco {
        font-weight: bold;
        margin-top: 20px;
        padding: 10px 00px;
        text-align: center;
        display: none;
    }
    .dinheiro-troco input {
        border-radius: 5px;
        border: none;
        box-shadow: 00px 00px 3px rgba(0, 0, 0, 0.4);
        padding: 5px 10px;
        margin-top: 10px;
        width: 150px;
    }
    .info-finalizar-pedido {
        width: 90%;
        margin: 20px auto;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 00px 1px 2px rgba(0, 0, 0, 0.4);
    }
    .info-finalizar-pedido div {
        width: 100%;
        display: flex;
    }
    .info-finalizar-pedido div p {
        color: black !important;
        width: 50%;
    }
    .info-p-lef {
        text-align: left;
        font-weight: bold;
    }
    .info-p-right {
        text-align: right;
    }
    .info-finalizar-pedido .finalizar-forma {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-width: 100px;
    }
    .finalizar-forma {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .finalizar-forma label {
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 5px 00px;
        border-radius: 5px;
    }
    .confirmar-finalizar-forma {
        background-color: #c59d19;
        color: white;
    }
    #checkbox-mensagem-finalizar {
        display: none;
    }
    #checkbox-mensagem-finalizar:checked~.formas {
        display: none;
    }
    #checkbox-mensagem-finalizar:checked~.mensagem-finalizacao {
        display: flex;
    }
    .mensagem-finalizacao {
        width: 90%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 700px;
        overflow: auto;
        max-height: 95%;
        font-size: 11pt;
        display: none;
        flex-flow: column;
    }
    .mensagem-finalizacao img {
        width: 150px;
        margin: auto;
    }
    .texto-finalizar {
        width: 80%;
        text-align: center;
        margin: 20px auto;
        font-weight: bold;
    }
    .protocolo {
        text-align: center;
        margin: 20px auto;
        width: 80%;
    }
    .protocolo span {
        font-weight: bold;
    }
    .texto-atencao {
        font-weight: bold;
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }
    .mensagem-finalizacao label {
        padding: 10px;
        width: 150px;
        background-color: #C59D19;
        color: white;
        border-radius: 50px;
        margin: auto;
        text-align: center;
    }
}

@media screen and (min-width: 640px) {
    #hd-cabecalho {
        height: 100%;
        transition: all .4s;
    }
    .lista-categoria-menu {
        display: flex;
    }
    .nav-menu-topo-categoria {
        display: block;
        opacity: 1;
    }
    .nav-menu-lateral-carrinho,
    .lbl-btn-carrinho-menu {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .produtos-carrinho {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        margin: 80px auto;
        max-width: 1024px;
    }
    .tabela-produtos {
        margin: 0;
        width: 60%;
    }
    .produtos-info-total {
        width: 40%;
    }
    .tabela-produtos,
    .btn-finalizar-carrinho label {
        max-width: none;
    }
    .mensagem-finalizacao label {
        cursor: pointer;
    }
}