@media screen and (min-width: 200px) {
    .div-categoria {
        width: 100%;
    }
    .titulo-categoria {
        width: 90%;
        margin: 20px auto;
        color: #AE900A;
    }
    .lista-categoria {
        width: 90%;
        list-style: none;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }
    .li-categoria {
        border-radius: 10px;
        margin: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        min-width: 150px;
    }
    .li-categoria:hover {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    }
    .li-categoria figure {
        position: relative;
    }
    .li-categoria img {
        width: 100%;
        border-radius: 10px;
    }
    .li-categoria figcaption {
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        color: white;
        font-weight: bold;
        border-radius: 0px 0px 10px 10px;
        padding: 5px;
    }
    .div-modo-visualizar {
        display: flex;
        width: 90%;
        margin: 20px auto;
    }
    .div-btn-visualizar {
        display: flex;
    }
    #modo-grade,
    #modo-lista {
        padding: 12px;
        margin: 0 5px;
        border-radius: 2px;
    }
    #modo-grade {
        background: url('../imagens/icones/grade.jpg') center center / 20px no-repeat;
    }
    #modo-lista {
        background: url('../imagens/icones/lista.jpg') center center / 20px no-repeat;
        border: 2px solid #b9b9b9;
    }
    .footer-item-home {
        background: url('../imagens/icones/menu-footer/icon-footer-home.png')center center/ 35px no-repeat;
    }
    .footer-item-categorias {
        background: url('../imagens/icones/menu-footer/icon-footer-categoria-preenchido.png')center center/ 35px no-repeat;
    }
}

@media screen and (min-width: 640px) {
    .lista-categoria,
    .div-modo-visualizar {
        display: none;
    }
}